header {
    background-color: #111;
    min-height: 50px;
    height: 5vmin;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

#home {
    color: white;
    height: 95%;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

#home:hover {
    transition: 0.5s;
    background-color: #414141;
}

#homeIcon {
    font-size : 40px;
    padding : 4px;
}

#user {
    color: white;
    height: 95%;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

#user:hover {
    transition: 0.5s;
    background-color: #414141;
}

#user > i {
    font-size : 40px;
    padding : 4px;
}