#bodyContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#listContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
}

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.game {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameImage {
    height: 150px;
    width: 150px;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 5px;
}

.gameName {
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
}

.gameImage-outline {
    height: 150px;
    width: 150px;
    margin: 5px;
    position: absolute;
    outline-style: solid;
    outline-color: white;
    outline-width: 3px;
    border-radius: 8px;
    animation-play-state: paused;
}

.game > a:hover + .gameImage-outline{
    animation: pulse 1s infinite;
    animation-play-state: running;
}

@keyframes pulse {
    0%  {opacity: 100%;}
    100% {scale: 1.2; opacity: 0%;}
}

@media only screen and (max-width: 800px) {
    #listContainer {
        flex-direction: column;
        align-items: center;
    }
}