.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.canvasContainer{
    margin:50px;
    background-color:lightgrey;
    border-radius:10px;
    height: 300px;
}

.formContainer {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    max-width: 350px;
    width: 60%;
    justify-content: space-between;
    min-height: 80px;
}

.labelButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


.gameForm {
    width: 100%
}

.gameSubmit {
    margin: 0;
}